@page "/cancelling-tasks"


<h3>CancellingTasks</h3>

<br />

<div style="border-style: solid; padding: 50px; height: 190px;">
    
<div><span>Cancelling a simple delay task</span></div>

<br />

<button @onclick="@StartButton_SimpleDelayTask_Click" disabled="@IsStartButtonDisabled_SimpleDelayTask">Start</button>

<button @onclick="@CancelButton_SimpleDelayTask_Click" disabled="@IsCancelButtonDisabled_SimpleDelayTask">Cancel</button>

<div>@MessageSimpleDelayTask</div>

</div>

<br />
<br />
<br />

<div style="border-style: solid; padding: 50px; height: 190px;">
    
<div><span>Cancelling long Http Request</span></div>

<br />

<button @onclick="@StartButton_LongHttpRequest_Click" disabled="@IsStartButtonDisabled_LongHttpRequest">Start</button>

<button @onclick="@CancelButton_LongHttpRequest_Click" disabled="@IsCancelButtonDisabled_LongHttpRequest">Cancel</button>

<div>@MessageLongHttpRequest</div>

</div>

<div style="border-style: solid; padding: 50px; height: 190px;">
    
<div><span>Cancel a long http operation delay</span></div>

<br />

<button @onclick="@StartButton_LongHTTPRequestDelay_Click" disabled="@IsStartButtonDisabled_LongHTTPRequestDelay">Start</button>

<button @onclick="@CancelButton_LongHTTPRequestDelay_Click" disabled="@IsCancelButtonDisabled_LongHTTPRequestDelay">Cancel</button>

<div>@MessageLongHTTPRequestDelay</div>

</div>