@page "/cancelling-tasks"


<h3>CancellingTasks</h3>



<button @onclick="@StartButton_Click" disabled="@IsStartButtonDisabled">Start</button>

<button @onclick="@CancelButton_Click" disabled="@IsCancelButtonDisabled">Cancel</button>

<div>@Message</div>


